Repository admkopec/SoftwareEngineering2, pull requests merged in 2023-05, with the labels that each got.

#92 Added Swagger Auth
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/configs/SpringDocConfig.java
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/controllers/BasketController.java
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/controllers/OrderController.java
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/controllers/ProductController.java
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/controllers/UserController.java
Labels: enhancement, java

#91 Log in and Sign up improvements
  flower-shop-frontend/src/components/Basket.tsx
  flower-shop-frontend/src/components/Footer.tsx
  flower-shop-frontend/src/components/Header.tsx
  flower-shop-frontend/src/components/Layout.tsx
  flower-shop-frontend/src/components/LogIn.tsx
  flower-shop-frontend/src/components/SignUp.tsx
  flower-shop-frontend/src/components/SignUpSuccess.tsx
  flower-shop-frontend/src/pages/HomePage.tsx
  flower-shop-frontend/src/pages/Router.tsx
  flower-shop-frontend/src/services/product.service.ts
  flower-shop-frontend/src/services/user.service.ts
  flower-shop-frontend/src/tests/LogIn.test.tsx
  flower-shop-frontend/src/tests/SignUp.test.tsx
  flower-shop-frontend/src/tests/SignUpSuccess.test.tsx
Labels: enhancement, javascript

#81 Fixed search query issue
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/dao/ProductRepository.java
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/services/ProductService.java
  FlowerShopBackend/src/test/java/pw/se2/flowershopbackend/ProductFetchingApiTests.java
Labels: bug, java

#105 Integration tests
  flower-shop-frontend/src/tests/LogInIntegrationTest.test.tsx
  flower-shop-frontend/src/tests/ProductsIntegrationTest.test.tsx
Labels: enhancement, javascript

#106 Order page
  flower-shop-frontend/.env
  flower-shop-frontend/src/pages/OrderPage.tsx
Labels: enhancement, javascript

#108 Order Page, Basket and Product Info bug fixes
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/web/BasketDto.java
  flower-shop-frontend/src/components/Basket.tsx
  flower-shop-frontend/src/components/BasketList.tsx
  flower-shop-frontend/src/components/Header.tsx
  flower-shop-frontend/src/components/ProductInfo.tsx
  flower-shop-frontend/src/pages/OrderPage.tsx
  flower-shop-frontend/src/resources/constants.tsx
  flower-shop-frontend/src/services/order.service.ts
  flower-shop-frontend/src/services/product.service.ts
  flower-shop-frontend/src/services/user.service.ts
  flower-shop-frontend/src/tests/Basket.test.tsx
  flower-shop-frontend/src/tests/LogInIntegrationTest.test.tsx
  flower-shop-frontend/src/tests/ProductsIntegrationTest.test.tsx
Labels: bug, java, javascript

#109 Fixed multiple Frontend issues
  FlowerShopBackend/src/main/java/pw/se2/flowershopbackend/models/Product.java
  flower-shop-frontend/src/components/DeleteDialog.tsx
  flower-shop-frontend/src/components/FloweryImage.tsx
  flower-shop-frontend/src/components/LogIn.tsx
  flower-shop-frontend/src/components/ProductCard.tsx
  flower-shop-frontend/src/components/ProductInfo.tsx
  flower-shop-frontend/src/components/ProductsPreview.tsx
  flower-shop-frontend/src/components/ProductsSearch.tsx
  flower-shop-frontend/src/components/SignUp.tsx
  flower-shop-frontend/src/pages/OrderPage.tsx
  flower-shop-frontend/src/services/product.service.ts
Labels: bug, java, javascript
